.dijitPopup, .dijitMenuPopup {
	
}
.dijitMenuPopup table{
	outline: none;
	border: 1px solid gray;
}
.dijitMenuPopup td{
	font-family: serif;
	font-size: .9em;
}

.esriMobileNavigationBar, .esriMobileInfoView, .esriMobilePopupInfoView, .esriPopupWrapper{
	z-index: 500;
}

.esriScalebarLabel, .esriScalebarFirstNumber, .esriScalebarSecondNumber{ width: auto !important;}

.agsjsTOCOutOfScale {
	display: none;
}

.fm_search {
	width: 650px;
	left: 25%;
}

.fm_search .fm_close {
	top: 8px;
	right: 8px;
}	

.formulario {
	width: 100%;	
}

.formulario td {
	width: 50%;
	padding: 5px;
}
